body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#cy {
  width: 100vw;
  height: 100vh;
  display: block;
  border: 1px solid lightgray;
  position: relative;
  z-index: 1;
}

/* Styles for #map-underlay-img removed as it's no longer an external HTML element */

#info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255,255,255,0.85);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  max-width: 300px;
}

.hidden-by-toggle {
  display: none !important; /* Important to override cytoscape's inline styles */
}

pre {
width: 340px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 10px;
    line-height: 13px;
}

.cy-node.label-editing {
  border-color: #f90;
  border-width: 3px;
}